<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"
       default-lazy-init="false">

    <!-- active annotation -->
    <mvc:annotation-driven>
		<!--  可不设置，使用默认的超时时间 30000 -->
	    <mvc:async-support default-timeout="120000"/>
	</mvc:annotation-driven>
	
    <!-- scan package -->
    <context:component-scan base-package="com.caitu99.lsp"/>
    <context:annotation-config/>

    <import resource="classpath*:spring/app-config.xml"/>
    <import resource="classpath*:spring/app-beans.xml"/>
    <import resource="classpath*:spring/app-datasource.xml"/>
    <import resource="classpath*:spring/app-redis.xml"/>
    <import resource="classpath*:mongodb/mongodb.xml"/>

</beans>
